@page
@model aspcore6features.Pages.DbConnectModel

<p>How connection string are changed based on <strong>ASPNETCORE_ENVIRONMENT</strong> value</p>

<b style="color:red">@Model.MyDbConnectionString</b>

<p>myKey: @ViewData["myKey"]</p>
<p>first value: @ViewData["firstValue"]</p>
<p>first value: @ViewBag.firstValue</p>
<p>second vlaue:@TempData["secondValue"]</p>