@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">1.How to access appsettings</h1>
    <p>myKey: @ViewData["myKey"]</p>
    <p>first value: @ViewData["firstValue"]</p>
    <p>first value: @ViewBag.firstValue</p>
    <p>second vlaue:@TempData["secondValue"]</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
