@page
@model aspcore6features.Pages.feature3.LoggingDemoModel
@{
}
<h2>When to use which log and Configure logging based on the environment</h2>
<ol>
    <li>Trace</li>
    <li>Debug</li>
    <li>Information</li>
    <li>Warning</li>
    <li>Error</li>
    <li>Critical</li>
</ol>